                                        /* =========================IMPORT FONT=================== */
                                        
                                        html,
                                        body {
                                            width: 100% !important;
                                            height: auto !important;
                                            margin: 0;
                                            padding: 0 !important;
                                        }
                                        
                                        .container-fruid {
                                            width: 100% !important;
                                            height: auto !important;
                                            margin: auto;
                                            padding: auto;
                                            overflow: hidden;
                                            align-items: center !important;
                                            padding: 0 !important;
                                        }
                                        
                                        .container .row {
                                            width: 1240px !important;
                                            height: auto !important;
                                            margin: auto;
                                        }
                                        
                                        footer {
                                            width: 100% !important;
                                            margin-top: 70px;
                                            align-items: center !important;
                                        }
                                        
                                        .container.fadeIn {
                                            max-width: 1240px !important;
                                            align-items: center;
                                        }
                                        
                                        .row .wow .fadeIn {
                                            width: 800px !important;
                                            align-items: center !important;
                                            margin: auto !important;
                                        }
                                        /*============================START NAVIGATION===================== */
                                        
                                        header {
                                            /* margin: 0;
                                            padding: 0; */
                                            width: 100%;
                                            height: 752px;
                                            background-image: linear-gradient( to bottom, rgba(49, 49, 49, 0.8), rgba(49, 49, 49, 0.8), rgba(49, 49, 49, 0.8), #1C1C1C), url("../images/Hero\ background.svg");
                                            background-repeat: no-repeat;
                                            background-size: cover;
                                            background-position: center center;
                                            border: none;
                                        }
                                        
                                        .view {
                                            width: 100%;
                                            height: 100%;
                                            margin: 0;
                                            padding: 0;
                                        }
                                        
                                        .navbar {
                                            margin: auto;
                                            display: flex;
                                            max-width: 1240px;
                                            margin-top: 24px;
                                            height: 49px;
                                        }
                                        
                                        .navbar-nav {
                                            width: 438px !important;
                                            height: 27px !important;
                                            padding: 0 !important;
                                        }
                                        
                                        .navbar-expand-lg .navbar-nav {
                                            margin-left: 449px !important;
                                        }
                                        
                                        .navbar-brand {
                                            width: 143px !important;
                                            height: 45px !important;
                                            margin-left: -16px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 30px !important;
                                            line-height: 45px !important;
                                            color: #FFFFFF !important;
                                        }
                                        
                                        .navbar-brand a {
                                            max-width: 143px !important;
                                            height: 45px !important;
                                        }
                                        
                                        .nav-link {
                                            margin: 0;
                                            padding: 0;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF !important;
                                        }
                                        
                                        .nav-item {
                                            height: 27px;
                                            margin-right: 40px;
                                        }
                                        
                                        #nav-about a {
                                            width: 60px !important;
                                            height: 27px !important;
                                            margin: auto;
                                            padding: 0 !important;
                                        }
                                        
                                        #nav-journal {
                                            width: 80px !important;
                                            height: 27px !important;
                                            padding: 0 !important;
                                        }
                                        
                                        #nav-service a {
                                            width: 82px !important;
                                            height: 27px !important;
                                            padding: 0 !important;
                                        }
                                        
                                        #nav-work a {
                                            width: 96px !important;
                                            height: 27px !important;
                                            padding: 0 !important;
                                        }
                                        
                                        .nav-item button {
                                            width: 154px;
                                            height: 49px;
                                            margin-right: -16px !important;
                                            margin-top: -11px !important;
                                            color: #FFFFFF;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 18px;
                                            line-height: 21px;
                                            display: flex;
                                            align-items: center;
                                            background: none;
                                            border: 1px solid #FFFFFF;
                                        }
                                        
                                        .contact {
                                            text-align: center !important;
                                            align-items: center !important;
                                            margin: auto;
                                        }
                                        /* ===========================CENTER HEADER=========================== */
                                        
                                        .mask .container {
                                            max-width: 885px;
                                            height: auto;
                                            align-items: center;
                                            overflow: hidden;
                                        }
                                        
                                        .fadeIn .col-md-12 {
                                            max-width: 885px;
                                            height: 354px;
                                            margin-top: 199px;
                                            margin-left: -15px !important;
                                        }
                                        
                                        .fadeIn h3 {
                                            margin-top: 100px;
                                            margin: 0;
                                        }
                                        
                                        .display-3 {
                                            width: 885px !important;
                                            height: 160px !important;
                                            margin-top: 0px !important;
                                            margin-left: -15px !important;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: 400 !important;
                                            font-size: 68px !important;
                                            line-height: 80px !important;
                                            align-items: center;
                                            text-align: center;
                                            color: #FFFFFF;
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                        }
                                        
                                        .display-3 span {
                                            width: 247px !important;
                                            height: 80px !important;
                                            text-decoration: underline;
                                            font-style: italic;
                                        }
                                        
                                        .display-3 h3 {
                                            font-weight: 400 !important;
                                            width: 885px !important;
                                            height: 160px !important;
                                            margin-left: 100px !important;
                                            font-size: 68px;
                                            line-height: 80px;
                                            align-items: center;
                                            text-align: center;
                                            color: #FFFFFF;
                                            display: flex;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                        }
                                        
                                        .col-md-12 .display-3 {
                                            max-width: 885px;
                                            height: 160px;
                                            margin-right: 0px !important;
                                        }
                                        
                                        .subtext-header {
                                            margin: auto;
                                            width: 388px;
                                            height: 84px;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 27px;
                                            line-height: 42px;
                                            align-items: center;
                                            text-align: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                        }
                                        
                                        .subtext-header {
                                            margin-top: 40px !important;
                                        }
                                        
                                        .text__center {
                                            width: 163px;
                                            height: 30px;
                                            margin: auto;
                                            padding: auto;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            text-decoration: underline;
                                            font-weight: 600;
                                            font-size: 19px;
                                            line-height: 30px;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .text__center {
                                            margin-top: 40px;
                                        }
                                        /* h5 {
                                            margin-top: 45px !important;
                                        } */
                                        /*===================== START SECTION2 ========================== */
                                        
                                        .main__footer {
                                            width: 100%;
                                            height: auto;
                                            margin: auto;
                                            background: #1C1C1C;
                                            overflow: hidden;
                                            margin: 0;
                                            padding: 0;
                                        }
                                        
                                        .main__section {
                                            max-width: 1240px;
                                            margin-left: 157px;
                                            margin: auto;
                                            padding: auto;
                                        }
                                        
                                        #container__section2 {
                                            max-width: 1240px;
                                            height: 949px;
                                            margin: auto;
                                            margin-left: -15px;
                                        }
                                        
                                        #text__right1 {
                                            max-width: 579px;
                                            height: 391px;
                                            margin-top: 97px;
                                            padding: 0;
                                        }
                                        
                                        .about {
                                            width: 72px;
                                            height: 36px;
                                            color: #FFFFFF;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 24px;
                                            line-height: 36px;
                                            display: flex;
                                            align-items: center;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .line__1 {
                                            width: 50px;
                                            height: 0px;
                                            margin-top: 15px;
                                            margin-left: 6px;
                                            opacity: 0.6;
                                            border: 1px solid #FFFFFF;
                                            box-sizing: border-box;
                                        }
                                        
                                        .about__flex {
                                            width: 128px;
                                            height: 36px;
                                            display: flex;
                                        }
                                        
                                        .text-right__1 {
                                            width: 572px;
                                            height: 114px;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 57px;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        .text-right__1 p {
                                            margin-top: 14px;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 57px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            flex-wrap: wrap;
                                            justify-content: center;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                        }
                                        
                                        #text__right2 {
                                            max-width: 638px;
                                            height: 412px;
                                            margin-top: 70px;
                                        }
                                        
                                        .text__right2__image1 {
                                            width: 609.97px;
                                            height: 386px;
                                            position: absolute;
                                            left: 23px;
                                            z-index: 2;
                                            object-fit: cover;
                                        }
                                        
                                        .text__right2__image2 {
                                            width: 609.97px;
                                            height: 386px;
                                            position: absolute;
                                            bottom: 26px;
                                            top: 26px;
                                            left: 51px;
                                            object-fit: cover;
                                            z-index: 1
                                        }
                                        
                                        .text-right__2 {
                                            max-width: 579px;
                                            height: 198px;
                                        }
                                        
                                        .text-right__2 p {
                                            max-width: 579px;
                                            height: 198px;
                                            margin-top: 30px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-weight: normal;
                                            font-size: 22px;
                                            line-height: 33px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            flex-wrap: wrap;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 5;
                                        }
                                        /* ==================ROW 2======================
     */
                                        
                                        #section2__row2 {
                                            width: 1240px;
                                            height: 447px;
                                            margin-top: 84px;
                                            display: flex;
                                            justify-content: space-between;
                                        }
                                        
                                        .text-left1 {
                                            max-width: 602px !important;
                                            height: 447px !important;
                                            margin-left: -15px !important;
                                        }
                                        
                                        .text__left__image1 {
                                            height: 412px;
                                            width: 563.44px;
                                            margin-top: 0px;
                                            position: absolute;
                                            z-index: 2;
                                            margin-left: 38px;
                                            object-fit: cover;
                                        }
                                        
                                        .text__left__image2 {
                                            width: 563.44px;
                                            height: 412px;
                                            position: absolute;
                                            margin-top: 35px;
                                            z-index: 1;
                                            object-fit: cover;
                                        }
                                        
                                        #text__left2 {
                                            padding: 0 !important;
                                        }
                                        
                                        .line__2 {
                                            width: 50px !important;
                                            height: 0px !important;
                                            opacity: 0.6;
                                            border: 1px solid #FFFFFF;
                                            box-sizing: border-box;
                                        }
                                        
                                        .text-left__2 {
                                            width: 579px!important;
                                            height: 132px!important;
                                            margin-top: 30px !important;
                                            margin-left: auto;
                                            font-style: normal;
                                            font-weight: normal;
                                            align-items: center;
                                            text-align: right;
                                            color: #FFFFFF;
                                        }
                                        
                                        .text-left__2 h3 {
                                            font-family: 'Poppins', sans-serif;
                                            font-size: 22px;
                                            line-height: 33px;
                                        }
                                        
                                        .text-left1 {
                                            max-width: 602px !important;
                                            height: 447px !important;
                                            margin-left: -15px !important;
                                        }
                                        
                                        .text__left__image1 {
                                            height: 412px;
                                            width: 563.44px;
                                            position: absolute;
                                            z-index: 2;
                                            margin-left: 38px;
                                            object-fit: cover;
                                        }
                                        
                                        .text__left__image2 {
                                            width: 563.44px;
                                            height: 412px;
                                            position: absolute;
                                            margin-top: 35px;
                                            z-index: 1;
                                            object-fit: cover;
                                        }
                                        
                                        .our__flex {
                                            width: 175px;
                                            height: 36px;
                                            margin-left: auto;
                                            margin-top: 27px !important;
                                            height: 36px;
                                            display: flex;
                                            align-items: center;
                                        }
                                        
                                        .our {
                                            max-width: 119px!important;
                                            color: #FFFFFF;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 24px;
                                            line-height: 36px;
                                            align-items: center;
                                            text-align: right;
                                            color: #FFFFFF;
                                            opacity: 0.6;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                            margin-left: 6px !important;
                                        }
                                        
                                        .text-left__1 {
                                            width: 572px;
                                            height: 114px;
                                            margin-left: auto;
                                            margin-top: 14px;
                                        }
                                        
                                        .text-left__1 h2 {
                                            width: 572px !important;
                                            height: 114px !important;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 57px;
                                            flex-wrap: wrap;
                                            align-items: center;
                                            text-align: right;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2;
                                        }
                                        /* ======================START SECTION3====================== */
                                        
                                        #container__section3 {
                                            max-width: 1240px;
                                            height: 322px;
                                            margin-top: 174px;
                                        }
                                        
                                        .container #section3__row {
                                            width: 1240px;
                                            height: 215px !important;
                                            margin-left: -15px!important;
                                        }
                                        
                                        .container__section3__title {
                                            width: 414.33px !important;
                                            height: 57px !important;
                                        }
                                        
                                        .container__section3__title p {
                                            margin-top: 100px !important;
                                            width: 414.33px;
                                            height: 57px;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 57px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                            margin-left: -15px !important;
                                        }
                                        
                                        #col-sm-4__col1,
                                        #col-sm-4__col2,
                                        #col-sm-4__col3 {
                                            max-width: 347.28px !important;
                                            height: 215px !important;
                                        }
                                        
                                        #section3__column1,
                                        #section3__column2,
                                        #section3__column3 {
                                            max-width: 347.28px !important;
                                            height: 215px !important;
                                        }
                                        
                                        .section3_column1_row1 #section3_column1_row1 {
                                            width: 252.2px !important;
                                            height: 42px !important;
                                        }
                                        
                                        #section3_column1_row1 {
                                            width: 252.2px !important;
                                            height: 42px !important;
                                            margin-top: 2px!important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 28px;
                                            line-height: 42px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .section3_column1_row2 #section3_column1_row2 {
                                            width: 347.28px !important;
                                            height: 99px !important;
                                        }
                                        
                                        #section3_column1_row2 {
                                            width: 347.28px;
                                            height: 99px;
                                            margin-top: 14px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 22px;
                                            line-height: 33px;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                        }
                                        
                                        .section3_column1_row3 #section3_column1_row3 {
                                            width: 113.09px !important;
                                            height: 30px !important;
                                        }
                                        
                                        #section3_column1_row3 {
                                            display: flex;
                                        }
                                        
                                        .read__more {
                                            width: 107.09px !important;
                                            height: 30px !important;
                                            padding: 0;
                                            margin-top: 30px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 19px;
                                            line-height: 30px;
                                            align-items: center;
                                            text-align: right;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .line__section3 img {
                                            width: 16px;
                                            height: 8.95px;
                                            margin-top: 40px;
                                            margin-left: 6px;
                                            object-fit: cover;
                                        }
                                        
                                        .section3_column2_row1 #section3_column2_row1 {
                                            width: 184.15px !important;
                                            height: 42px !important;
                                        }
                                        
                                        #section3_column2_row1 {
                                            width: 184.15px !important;
                                            height: 42px !important;
                                            margin-left: 100px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 28px;
                                            line-height: 42px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .section3_column2_row2 #section3_column2_row2 {
                                            width: 347.28px !important;
                                            height: 99px !important;
                                        }
                                        
                                        #section3_column2_row2 {
                                            width: 347.28px !important;
                                            height: 99px !important;
                                            margin-top: 14px !important;
                                            margin-left: 100px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 22px;
                                            line-height: 33px;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                        }
                                        
                                        .section3_column2_row3 #section3_column2_row3 {
                                            width: 107.09px !important;
                                            height: 30px !important;
                                        }
                                        
                                        #section3_column2_row3 {
                                            display: flex;
                                            margin-left: 100px !important;
                                        }
                                        
                                        .section3_column3_row1 #section3_column3_row1 {
                                            width: 347.28px !important;
                                            height: 215px !important;
                                        }
                                        
                                        #section3_column3_row1 {
                                            width: 271.22px;
                                            height: 42px;
                                            margin-left: 200px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 28px;
                                            line-height: 42px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .section3_column2_row2 #section3_column3_row2 {
                                            width: 347.28px !important;
                                            height: 99px !important;
                                        }
                                        
                                        #section3_column3_row2 {
                                            width: 347.28px !important;
                                            height: 99px !important;
                                            margin-top: 14px !important;
                                            margin-left: 199px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 22px;
                                            line-height: 33px;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                        }
                                        
                                        #section3_column3_row3 {
                                            display: flex;
                                            margin-left: 190px !important;
                                        }
                                        /*======================== SWIPER MY SWIPER SECTON 4 ===============*/
                                        
                                        .swiper-container-horizontal>.swiper-pagination-bullets,
                                        .swiper-pagination-custom,
                                        .swiper-pagination-fraction {
                                            width: 200px !important;
                                            height: 24px !important;
                                            margin: auto !important;
                                            justify-content: left;
                                            margin-top: 1010px !important;
                                        }
                                        
                                        @import url(https://fonts.googleapis.com/css?family=Raleway);
                                        .mySwiper {
                                            width: 1600px !important;
                                            height: 881px !important;
                                            margin-top: 117px !important;
                                        }
                                        
                                        .container__section4__title {
                                            width: 216px !important;
                                            height: 57px !important;
                                            margin-left: 512px !important;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 57px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        #swiper1__slide1__section4 {
                                            position: relative;
                                            width: 480px !important;
                                            height: 682px !important;
                                            margin: auto;
                                        }
                                        
                                        .swiper-slide .swiper-slide-overlay {
                                            background: rgba(0, 0, 0, 0.7);
                                            position: absolute;
                                            width: 480px !important;
                                            height: 682px !important;
                                            left: 0;
                                            top: 0;
                                            bottom: 0;
                                            right: 0;
                                            opacity: 0;
                                            -webkit-transition: all 0.4s ease-in-out 0s;
                                            -moz-transition: all 0.4s ease-in-out 0s;
                                            transition: all 0.4s ease-in-out 0s
                                        }
                                        
                                        .swiper-slide:hover .swiper-slide-overlay {
                                            opacity: 1
                                        }
                                        
                                        .swiper-slide {
                                            margin-top: 0px !important;
                                        }
                                        
                                        .swiper__slide__image {
                                            width: 480px!important;
                                            height: 682px !important;
                                            object-fit: cover;
                                        }
                                        
                                        .swiper__slide__image img {
                                            width: 480px!important;
                                            height: 682px !important;
                                            object-fit: cover;
                                        }
                                        
                                        .swiper-slide__image1 img {
                                            width: 431px!important;
                                            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
                                            border-radius: 5px;
                                            object-fit: cover;
                                        }
                                        
                                        .swiper-slide-details {
                                            position: absolute;
                                            text-align: center;
                                            padding-left: 1em;
                                            padding-right: 1em;
                                            width: 100%;
                                            top: 50%;
                                            left: 50%;
                                            opacity: 0;
                                            -webkit-transform: translate(-50%, -50%);
                                            -moz-transform: translate(-50%, -50%);
                                            transform: translate(-50%, -50%);
                                            -webkit-transition: all 0.3s ease-in-out 0s;
                                            -moz-transition: all 0.3s ease-in-out 0s;
                                            transition: all 0.3s ease-in-out 0s
                                        }
                                        
                                        .swiper-slide:hover .swiper-slide-details {
                                            justify-content: center;
                                            top: 52.3%;
                                            left: 50%;
                                            opacity: 1
                                        }
                                        
                                        .swiper-slide-details h3 {
                                            color: #fff;
                                            font-weight: 500;
                                            letter-spacing: 0.15em;
                                            margin-bottom: 0.5em;
                                            text-transform: uppercase
                                        }
                                        
                                        .swiper-slide-details p {
                                            color: #fff;
                                            font-size: 0.8em
                                        }
                                        
                                        .fadeIn-bottom {
                                            top: 80%
                                        }
                                        
                                        #swiper-wrapper4 {
                                            width: 1600px !important;
                                            height: 881px !important;
                                            margin-top: 86px !important;
                                            margin-left: -560px!important;
                                            overflow: visible !important;
                                        }
                                        
                                        .swiper-slide-title {
                                            width: 356px !important;
                                            height: 72px !important;
                                            margin-left: 46px!important;
                                            margin-bottom: 31px !important;
                                        }
                                        
                                        .swiper-slide-title h3 {
                                            width: 356px !important;
                                            height: 72px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 72px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        .swiper-pagination-bullet-active {
                                            width: 20px !important;
                                            height: 20px !important;
                                            background: none !important;
                                            margin-top: 200px !important;
                                            border-radius: 50%;
                                            border: 2px solid rgb(255, 255, 255);
                                            background-color: var(--bottomColor);
                                            opacity: 1;
                                            transition: transform 250ms ease-in;
                                        }
                                        
                                        .swiper-container {
                                            overflow: visible !important;
                                        }
                                        
                                        .count__number1 {
                                            width: 48px !important;
                                            height: 36px !important;
                                            margin-top: -180px !important;
                                            margin-left: 1180px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 36px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        .pagination__count1 {
                                            display: flex;
                                        }
                                        
                                        .swiper-slide {
                                            counter-increment: num;
                                        }
                                        
                                        #hidden__id {
                                            padding: 0;
                                            margin-left: -50px !important;
                                        }
                                        
                                        .swiper-pagination-bullet {
                                            width: 9px !important;
                                            height: 9px !important;
                                            margin-top: -5px !important;
                                            margin-left: 16px !important;
                                            background: #FFFFFF !important;
                                            opacity: 0.3;
                                        }
                                        
                                        .swiper-pagination-bullet span {
                                            width: 9px;
                                            height: 9px;
                                            background: #FFFFFF;
                                            text-align: left;
                                            opacity: 0.3;
                                        }
                                        
                                        .swiper-pagination-bullet-active {
                                            width: 24px !important;
                                            height: 24px !important;
                                            margin-left: 20px !important;
                                            border: 2px solid #FFFFFF !important;
                                            box-sizing: border-box !important;
                                            background: none !important;
                                        }
                                        /* ================SECTION5========================= */
                                        
                                        #container__section5 {
                                            width: 1373px !important;
                                            height: 636px !important;
                                            margin-top: 116px !important;
                                        }
                                        
                                        #swiper-wrapper5 {
                                            width: 1373px !important;
                                            height: 493px !important;
                                            margin-top: 86px !important;
                                            margin-left: -470px !important;
                                            overflow: visible !important;
                                        }
                                        
                                        .container__section5__title {
                                            width: 280px !important;
                                            height: 57px !important;
                                            margin-top: 0px !important;
                                            padding-top: 0px !important;
                                            margin-left: 480px !important;
                                            font-family: ABeeZee;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 48px;
                                            line-height: 57px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .swiper-slide__image1 img {
                                            width: 431px !important;
                                            height: 325px !important;
                                            object-fit: cover;
                                        }
                                        
                                        .img2 {
                                            width: 431px !important;
                                            height: 325px !important;
                                            object-fit: cover;
                                        }
                                        
                                        #swiper1__slide1__section5 {
                                            position: relative;
                                            width: 431px !important;
                                            height: 325px !important;
                                            margin: auto;
                                        }
                                        
                                        #pagination2 {
                                            width: 190px !important;
                                            height: 24px !important;
                                            margin-top: -22px !important;
                                        }
                                        
                                        .swiper-container {
                                            margin-left: auto;
                                            margin-right: auto;
                                            position: relative;
                                            overflow: hidden !important;
                                            list-style: none;
                                            padding: 0;
                                            z-index: 1;
                                        }
                                        
                                        .count__number2 {
                                            width: 48px;
                                            height: 36px;
                                            margin-top: -30px !important;
                                            margin-left: 1180px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 24px;
                                            line-height: 36px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .swiper-slide__icon__design1 {
                                            width: 229px !important;
                                            height: 36px !important;
                                            margin-top: 20px !important;
                                            display: flex;
                                        }
                                        
                                        .swiper-slide__icon1 {
                                            width: 50px !important;
                                            height: 0px !important;
                                            margin-top: 18px !important;
                                            opacity: 0.6;
                                            border: 1px solid #FFFFFF;
                                            box-sizing: border-box;
                                        }
                                        
                                        .swiper-slide__design1 {
                                            width: 173px;
                                            height: 36px;
                                            margin-left: 6px !important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 24px;
                                            line-height: 36px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            opacity: 0.6;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .swiper-slide__library1 {
                                            width: 293px;
                                            height: 42px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 28px;
                                            line-height: 42px;
                                            margin-top: 14px !important;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .swiper-slide__icon__design2 {
                                            width: 292px !important;
                                            height: 36px !important;
                                            margin-top: 20px !important;
                                            display: flex;
                                        }
                                        
                                        .swiper-slide__icon2 {
                                            width: 50px;
                                            height: 0px;
                                            opacity: 0.6;
                                            margin-top: 18px !important;
                                            border: 1px solid #FFFFFF;
                                            box-sizing: border-box;
                                        }
                                        
                                        .swiper-slide__design2 {
                                            width: 236px;
                                            height: 36px;
                                            margin-left: 6px!important;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 24px;
                                            line-height: 36px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            opacity: 0.6;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .swiper-slide__library2 {
                                            width: 221px;
                                            height: 42px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 28px;
                                            line-height: 42px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 1;
                                        }
                                        
                                        .swiper-slide #swiper1__slide1__section5 {
                                            width: 432px !important;
                                            height: 500px !important;
                                        }
                                        /* ======================START FOOTER====================== */
                                        
                                        #container__footer {
                                            max-width: 1240px !important;
                                            height: 112px !important;
                                            margin-bottom: 77px !important;
                                            margin: auto;
                                            color: white;
                                        }
                                        
                                        .container__footer__line {
                                            width: 1240px;
                                            margin-left: -14px!important;
                                            height: 0px;
                                            margin: auto;
                                            border: 0.5px solid #FFFFFF;
                                        }
                                        
                                        #container__row__column {
                                            margin: auto;
                                            width: 1240px;
                                            height: 112px;
                                            margin-left: -15px!important;
                                        }
                                        
                                        #foptimal {
                                            max-width: 155px !important;
                                            height: 45px !important;
                                            margin-top: 28px;
                                            margin-left: -15px !important;
                                        }
                                        
                                        .c__icon {
                                            width: 12px;
                                            height: 17px;
                                            margin-left: 143px;
                                            font-family: Montserrat;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 14px;
                                            line-height: 17px;
                                            color: #FFFFFF;
                                        }
                                        
                                        .footer__foptimal {
                                            width: 143px;
                                            height: 45px;
                                            margin-top: -15px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: bold;
                                            font-size: 30px;
                                            line-height: 45px;
                                            color: #FFFFFF;
                                        }
                                        
                                        a.navbar-brand {
                                            padding-top: 0 !important;
                                            padding-bottom: 0 !important;
                                        }
                                        
                                        #about__jurnal {
                                            max-width: 59px !important;
                                            height: 74px !important;
                                            margin-top: 31px;
                                            margin-left: 150px;
                                            padding: 0;
                                        }
                                        
                                        .about__footer {
                                            width: 56px;
                                            height: 27px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        .jurnal {
                                            width: 59px;
                                            height: 27px;
                                            margin-top: 20px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        #service__work {
                                            max-width: 86px !important;
                                            height: 74px !important;
                                            margin-top: 31px;
                                            margin-left: 120px;
                                        }
                                        
                                        .service {
                                            width: 77px;
                                            height: 27px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        .work {
                                            width: 86px;
                                            height: 27px;
                                            margin-top: 20px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF;
                                        }
                                        
                                        #icon__boulevard {
                                            display: flex !important;
                                            max-width: 230px !important;
                                            height: 81px !important;
                                            padding: 0 !important;
                                            margin-left: 150px;
                                            margin-top: 31px;
                                        }
                                        
                                        #icon__boulevard img {
                                            width: 18px !important;
                                            height: 23px;
                                        }
                                        
                                        #icon__boulevard .boulevard {
                                            width: 192px !important;
                                            height: 81px !important;
                                            margin-left: 19px;
                                            margin-right: -52px;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            overflow: hidden;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 3;
                                        }
                                        
                                        #getin__touch {
                                            max-width: 171px!important;
                                            height: 55px !important;
                                            margin-left: 170px !important;
                                            margin-top: 45px;
                                            margin-right: -41px !important;
                                        }
                                        
                                        #getin__touch button {
                                            width: 171px!important;
                                            height: 55px !important;
                                            margin-left: -28px !important;
                                            box-sizing: border-box;
                                            font-family: 'Poppins', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            font-size: 18px;
                                            line-height: 27px;
                                            align-items: center;
                                            color: #FFFFFF;
                                            background: none;
                                            border: 1px solid #FFFFFF;
                                        }