                /* ================STATR RESPONSIVE=============== */
                
                .btn .fa {
                    margin-left: 3px;
                }
                
                .navbar:not(.top-nav-collapse) {
                    background: transparent !important;
                }
                
                @media (max-width: 991px) {
                    .navbar:not(.top-nav-collapse) {}
                }
                
                .btn-white {
                    color: black !important;
                }
                
                h6 {
                    line-height: 1.7;
                }
                
                @media(max-width:575.9px) {
                    html,
                    body,
                    .container-fruid {
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }
                    .collapse {
                        margin-left: -300px !important;
                        margin-top: -150px !important;
                    }
                    .nav-item {
                        margin-top: 10px !important;
                    }
                    #nav-about {
                        margin-left: -325px !important;
                    }
                    .main__section,
                    .main__footer {
                        width: 100%;
                        height: auto;
                        margin: auto;
                        background: #1C1C1C !important;
                    }
                    .navbar {
                        max-width: 30% !important;
                        margin-left: 10px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .fadeIn .col-md-12 {
                        max-width: 70% !important;
                        height: 354px !important;
                        margin-top: 199px !important;
                        margin-left: -50px !important;
                    }
                    .display-3 {
                        width: 60% !important;
                        margin-top: 0px !important;
                        font-family: ABeeZee;
                        font-style: normal;
                        font-weight: 400 !important;
                        font-size: 40px !important;
                        line-height: 80px;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .col-md-12 .display-3 {
                        margin-left: 50px !important;
                    }
                    .subtext-header {
                        width: 50%;
                        height: 84px;
                        margin-top: 20px !important;
                        margin-left: 100px !important;
                        margin: auto;
                        flex-wrap: wrap;
                        text-align: center;
                        justify-content: center;
                    }
                    .text__center {
                        width: 163px;
                        height: 30px;
                        margin-top: 40px !important;
                        margin-left: 200px !important;
                        padding-bottom: 0px;
                        margin: auto;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 30px;
                        flex-wrap: wrap;
                        justify-content: center;
                        color: #FFFFFF;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                    }
                    /* ====================SECTION 2================== */
                    .main__section {
                        margin-top: -200px;
                    }
                    #container__section2 {
                        max-width: 100%;
                        margin: auto;
                    }
                    #section2__row1 {
                        max-width: 100%;
                        margin: auto;
                        display: block;
                        justify-content: center;
                    }
                    #section2__row2 {
                        max-width: 100%;
                        margin: auto;
                        display: block;
                        justify-content: center;
                    }
                    .about__flex {
                        height: auto;
                        width: 30% !important;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-left: 50px !important;
                        margin-top: 100px !important;
                    }
                    .text-right__1 {
                        width: 100%;
                        margin-left: 50px;
                    }
                    .text-right__1 p {
                        font-family: ABeeZee;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 40px !important;
                        line-height: 57px;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                        color: #FFFFFF;
                    }
                    .text-right__2 {
                        width: 90%;
                        margin-left: 50px;
                        margin-top: 5px;
                        font-family: Poppins;
                        font-style: italic;
                        font-weight: normal;
                        font-size: 22px;
                        line-height: 33px;
                        align-items: center;
                        color: #FFFFFF;
                        flex-wrap: wrap;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 5;
                    }
                    #text__right2 {
                        max-width: 90%;
                        margin-top: 70px;
                        margin-left: 30px !important;
                        flex-wrap: wrap;
                        justify-content: center !important;
                    }
                    .text__right2__image1 {
                        width: 80%;
                        margin-left: -5px;
                        position: absolute;
                        left: 23px;
                        z-index: 2;
                        object-fit: cover;
                    }
                    .text__right2__image2 {
                        width: 80%;
                        position: absolute;
                        bottom: 26px;
                        top: 26px;
                        left: 51px;
                        object-fit: cover;
                        z-index: 1
                    }
                    /* ========================= */
                    .text__left__image1 {
                        width: 80%;
                        margin-top: 0px;
                        position: absolute;
                        z-index: 2;
                        margin-left: 38px;
                        object-fit: cover;
                    }
                    .text__left__image2 {
                        width: 80%;
                        margin-top: 0px;
                        position: absolute;
                        z-index: 2;
                        margin-left: 38px;
                        object-fit: cover;
                    }
                    .text-left2 {
                        width: 100%;
                        height: auto;
                        margin-left: -5px;
                        margin-top: 10px;
                    }
                    .our__flex {
                        width: 50%;
                        height: auto;
                        margin: left;
                        flex-wrap: wrap;
                        justify-content: center;
                        display: flex;
                    }
                    .line__2 {
                        width: 50px;
                        height: -2px;
                        margin-top: 15px;
                        opacity: 0.6;
                        border: 2px solid #FFFFFF;
                        box-sizing: border-box;
                    }
                    .text-left__1 h2 {
                        max-width: 80%;
                        height: auto;
                        font-size: 40px;
                        margin-left: -20px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .text-left__2 h3 {
                        max-width: 90%;
                        height: auto;
                        margin-right: 150px !important;
                        font-size: 22px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    /* ===========================SECTION3====================== */
                    #container__section3 {
                        max-width: 100%;
                        height: auto;
                        display: block;
                        justify-content: center;
                        margin-left: 100px !important;
                    }
                    .container #section3__row {
                        width: 100%;
                        height: auto;
                        display: block;
                        justify-content: center;
                    }
                    .container__section3__title p {
                        width: 100%;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 800px !important;
                        margin-left: -80px !important;
                    }
                    #col-sm-4__col1 #col-sm-4__col2 #col-sm-4__col3 {
                        width: 100%;
                        height: auto;
                        font-display: block;
                        justify-content: center;
                    }
                    .container #col-sm-4__col1 {
                        width: 100%;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .section3__column1 {
                        margin: auto;
                    }
                    .container #col-sm-4__col2 {
                        width: 100%;
                        height: auto;
                        margin-top: 30px;
                        margin-left: -100px;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .container #col-sm-4__col3 {
                        width: 100%;
                        height: auto;
                        margin-top: 30px;
                        margin-left: -200px;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    /* ==========================SECTION4================= */
                    #pagination1 {
                        margin-left: 25px !important;
                        margin-top: 130!important;
                    }
                    .count__number1 {
                        width: 20%;
                        margin-left: 450px !important;
                    }
                    .container__section4__title {
                        margin-top: 400px !important;
                        margin-left: 150px !important;
                    }
                    #swiper1__slide1__section4 {
                        margin-left: 45px !important;
                    }
                    .count__number1 {
                        width: 10%;
                        margin-left: 400px !important;
                    }
                    /* ======================SECTION5================ */
                    .container__section5 {
                        width: 100%;
                        height: auto !important;
                        margin-top: -100px !important;
                    }
                    .container__section5__title {
                        width: 100%;
                        height: auto;
                        justify-content: center;
                        font-size: 40px;
                        margin-top: 20px;
                        margin-left: 200px !important;
                    }
                    #swiper1__slide1__section5 {
                        margin-left: 10px !important;
                    }
                    #pagination2 {
                        /* margin-left: -190px !important; */
                        margin-top: 100!important;
                    }
                    .count__number2 {
                        width: 10%;
                        margin-left: 400px !important;
                    }
                    /* ==================CONTAINER FOOTER============== */
                    #container__footer {
                        width: 100%;
                        height: auto !important;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 100px !important;
                        justify-content: center;
                    }
                    #foptimal {
                        margin-left: 250px !important;
                    }
                    #about__jurnal {
                        margin-left: 30px !important;
                    }
                    #service__work {
                        margin-left: 30px !important;
                    }
                    #icon__boulevard {
                        margin-left: 30px !important;
                    }
                    #getin__touch {
                        width: 50% !important;
                        margin-left: 950px !important;
                        margin-top: -70px !important;
                    }
                }
                
                @media only screen and (min-width:575.9px) and (max-width:767.9px) {
                    html,
                    body,
                    .container-fruid {
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }
                    .collapse {
                        margin-left: -100px !important;
                        margin-top: -120px !important;
                    }
                    .nav-item {
                        margin-top: 10px !important;
                    }
                    #nav-about {
                        margin-left: -325px !important;
                    }
                    .main__section,
                    .main__footer {
                        width: 100%;
                        height: auto;
                        margin: auto;
                        background: #1C1C1C !important;
                    }
                    .navbar {
                        max-width: 100% !important;
                        margin-left: 10px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .fadeIn .col-md-12 {
                        max-width: 100% !important;
                        height: 354px !important;
                        margin-top: 199px !important;
                        margin-left: -50px !important;
                    }
                    .display-3 {
                        width: 60% !important;
                        margin-top: 0px !important;
                        font-family: ABeeZee;
                        font-style: normal;
                        font-weight: 400 !important;
                        font-size: 50px !important;
                        line-height: 80px;
                        align-items: center;
                        text-align: center;
                        color: #FFFFFF;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                    }
                    .col-md-12 .display-3 {
                        margin-left: 25px !important;
                    }
                    .subtext-header {
                        width: 50%;
                        height: 84px;
                        margin-top: 20px !important;
                        margin-left: 70px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .text__center {
                        width: 163px;
                        height: 30px;
                        margin-top: 40px !important;
                        margin-left: 300px !important;
                        padding-bottom: 0px;
                        margin: auto;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 30px;
                        flex-wrap: wrap;
                        justify-content: center;
                        color: #FFFFFF;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                    }
                    /* =================SECTION2================= */
                    .main__section {
                        margin-top: -200px;
                    }
                    #container__section2 {
                        max-width: 100%;
                        height: auto;
                        margin: auto;
                        justify-content: center;
                        align-items: center !important;
                    }
                    #section2__row1 {
                        max-width: 100%;
                        margin: auto;
                        height: auto;
                        display: block!important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .about__flex {
                        width: 50% !important;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-left: 25px !important;
                    }
                    .text-right__1 {
                        width: 80% !important;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-left: 100px !important;
                    }
                    .text-right__2 {
                        width: 100% !important;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-left: 100px !important;
                    }
                    #text__right2 {
                        width: 100% !important;
                        height: auto;
                        justify-content: center;
                        margin-left: 30px !important;
                    }
                    #section2__row2 {
                        max-width: 100%;
                        height: auto;
                        margin: auto;
                        display: block!important;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 100px !important;
                    }
                    #text__left1 {
                        width: 100% !important;
                        margin-top: 500px !important;
                        margin-left: 20px!important;
                        display: flex;
                        justify-content: center;
                    }
                    .our__flex {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-end !important;
                        margin-left: 300px!important;
                    }
                    .text-left__1 h2 {
                        margin-left: 100px !important;
                    }
                    .text-left__2 h3 {
                        width: 100%;
                        height: auto;
                        margin-left: 100px !important;
                    }
                    /* ============================SECTION 3===================== */
                    #container__section3 {
                        max-width: 100% !important;
                        height: auto !important;
                        display: block;
                        justify-content: center;
                        margin-left: 100px !important;
                        margin-top: -50px !important;
                    }
                    .container #section3__row {
                        width: 100% !important;
                        height: auto !important;
                        display: block;
                        justify-content: center;
                    }
                    .container__section3__title p {
                        width: 100% !important;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #col-sm-4__col1 #col-sm-4__col2 #col-sm-4__col3 {
                        width: 100%;
                        height: auto;
                        font-display: block;
                        justify-content: center;
                    }
                    .container #col-sm-4__col1 {
                        width: 100%;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .section3__column1 {
                        margin: auto;
                    }
                    .container #col-sm-4__col2 {
                        width: 100%;
                        height: auto;
                        margin-top: 30px;
                        margin-left: -100px;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .container #col-sm-4__col3 {
                        width: 100%;
                        height: auto;
                        margin-top: 30px;
                        margin-left: -200px;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    /* =======================SECTION4============= */
                    .mySwiper {
                        width: 100%;
                        height: auto;
                        margin-top: 50px !important;
                    }
                    .container__section4__title {
                        width: 50%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        margin-left: 300px !important;
                    }
                    .count__number1 {
                        width: 3% !important;
                        height: 20% !important;
                        margin-left: 500px !important;
                    }
                    /* =======================SECTION5============= */
                    .swiper {
                        width: 100%;
                        height: auto;
                        margin-top: 400px !important;
                    }
                    .container__section5__title {
                        width: 50%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        margin-left: 300px !important;
                    }
                    .count__number2 {
                        width: 3% !important;
                        height: 20% !important;
                        margin-left: 500px !important;
                    }
                    /* ==================CONTAINER FOOTER============== */
                    #container__footer {
                        width: 100%;
                        height: auto !important;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 100px !important;
                        justify-content: center;
                    }
                    #foptimal {
                        margin-left: 10px !important;
                    }
                }
                
                @media only screen and (min-width:767.9px) and (max-width:991.9px) {
                    html,
                    body,
                    .container-fruid {
                        width: 100%;
                        height: auto;
                        margin: 0;
                        padding: 0;
                    }
                    .collapse {
                        margin-left: 100px !important;
                        margin-top: -100px !important;
                    }
                    .nav-item {
                        margin-top: 10px !important;
                    }
                    #nav-about {
                        margin-left: -600px !important;
                    }
                    .navbar-expand-lg .navbar-nav {
                        width: 100% !important;
                        height: auto;
                        margin-left: 200px !important;
                    }
                    .col-md-12 .display-3 {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .subtext-header {
                        width: 50%;
                        height: 84px;
                        margin-top: 40px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .text__center {
                        width: 163px;
                        height: 30px;
                        margin-top: 40px !important;
                        margin: auto;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 30px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        color: #FFFFFF;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                    }
                    /* ====================SECTION 2================== */
                    .main__section {
                        margin-top: -200px;
                    }
                    #container__section2 {
                        max-width: 100%;
                        margin: auto;
                    }
                    #section2__row1 {
                        max-width: 100%;
                        margin: auto;
                        height: auto;
                        display: flex !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #text__right2 {
                        margin-top: 20px !important;
                        margin-right: 150px !important;
                    }
                    #section2__row2 {
                        max-width: 100%;
                        height: auto;
                        margin: auto;
                        display: block!important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #text__left1 {
                        width: 100% !important;
                        margin-top: 50px !important;
                        margin-left: 165px!important;
                        display: flex;
                        justify-content: center;
                    }
                    .our__flex {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-end !important;
                        margin-left: 300px!important;
                    }
                    .text-left__1 h2 {
                        margin-left: 220px !important;
                    }
                    .text-left__2 h3 {
                        width: 100%;
                        height: auto;
                        margin-left: 200px !important;
                    }
                    /* ============================SECTION 3===================== */
                    #container__section3 {
                        width: 100% !important;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 900px !important;
                    }
                    .container__section3__title {
                        width: 100%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #section3__row {
                        width: 100% !important;
                        height: auto;
                        margin: auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #col-sm-4__col3 {
                        width: 100% !important;
                        margin-top: 50px !important;
                        height: auto;
                        justify-content: center;
                        margin-left: 140px !important;
                    }
                    /* =======================SECTION4============= */
                    .mySwiper {
                        width: 100%;
                        height: auto;
                        margin-top: 400px !important;
                    }
                    .container__section4__title {
                        width: 50%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        margin-left: 350px !important;
                    }
                    .count__number1 {
                        width: 3% !important;
                        height: 20% !important;
                        margin-left: 800px !important;
                    }
                    /* =======================SECTION5============= */
                    .swiper {
                        width: 100%;
                        height: auto;
                        margin-top: 400px !important;
                    }
                    .container__section5__title {
                        width: 50%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        margin-left: 350px !important;
                    }
                    .count__number2 {
                        width: 3% !important;
                        height: 20% !important;
                        margin-left: 800px !important;
                    }
                    /* =================FOOTER=================== */
                    #container__footer {
                        width: 100%;
                        height: auto !important;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 100px !important;
                        justify-content: center;
                    }
                    #foptimal {
                        margin-left: 10px !important;
                    }
                }
                
                @media only screen and (min-width:991.9px) and (max-width:1199.9px) {
                    html,
                    body,
                    .container-fruid {
                        width: 100%;
                        height: auto;
                        background: wheat;
                        margin: 0;
                        padding: 0;
                    }
                    .navbar-expand-lg .navbar-nav {
                        width: 100% !important;
                        height: auto;
                        margin-left: 200px !important;
                    }
                    .col-md-12 .display-3 {
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .subtext-header {
                        width: 50%;
                        height: 84px;
                        margin-top: 40px !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    .text__center {
                        width: 163px;
                        height: 30px;
                        margin-top: 40px !important;
                        margin: auto;
                        font-family: Poppins;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 19px;
                        line-height: 30px;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        color: #FFFFFF;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                    }
                    /* ====================SECTION 2================== */
                    .main__section {
                        margin-top: -200px;
                    }
                    #container__section2 {
                        max-width: 100%;
                        margin: auto;
                    }
                    #section2__row1 {
                        max-width: 100%;
                        margin: auto;
                        height: auto;
                        display: flex !important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #text__right2 {
                        margin-top: 20px !important;
                        margin-right: 150px !important;
                    }
                    #section2__row2 {
                        max-width: 100%;
                        height: auto;
                        margin: auto;
                        display: block!important;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #text__left1 {
                        width: 100% !important;
                        margin-top: 50px !important;
                        margin-left: 165px!important;
                        display: flex;
                        justify-content: center;
                    }
                    .our__flex {
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-end !important;
                        margin-left: 200px!important;
                    }
                    .text-left__1 h2 {
                        margin-left: 220px !important;
                    }
                    .text-left__2 h3 {
                        width: 100%;
                        height: auto;
                        margin-left: 200px !important;
                    }
                    /* ============================SECTION 3===================== */
                    #container__section3 {
                        width: 100% !important;
                        height: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 900px !important;
                    }
                    .container__section3__title {
                        width: 100%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #section3__row {
                        width: 100% !important;
                        height: auto;
                        margin: auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    #col-sm-4__col3 {
                        width: 100% !important;
                        margin-top: 50px !important;
                        height: auto;
                        justify-content: center;
                        margin-left: 140px !important;
                    }
                    /* =======================SECTION4============= */
                    .mySwiper {
                        width: 100%;
                        height: auto;
                        margin-top: 400px !important;
                    }
                    .container__section4__title {
                        width: 50%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        margin-left: 350px !important;
                    }
                    .count__number1 {
                        width: 3% !important;
                        height: 20% !important;
                        margin-left: 986px !important;
                    }
                    /* =======================SECTION5============= */
                    .swiper {
                        width: 100%;
                        height: auto;
                        margin-top: 400px !important;
                    }
                    .container__section5__title {
                        width: 50%;
                        height: auto;
                        margin: auto;
                        flex-wrap: wrap;
                        margin-left: 350px !important;
                    }
                    .count__number2 {
                        width: 3% !important;
                        height: 20% !important;
                        margin-left: 986px !important;
                    }
                    /* =================FOOTER=================== */
                    #container__footer {
                        width: 100%;
                        height: auto !important;
                        margin: 0;
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 100px !important;
                        justify-content: center;
                    }
                    #about__jurnal {
                        margin-left: 100px !important;
                    }
                    #service__work {
                        margin-left: 100px !important;
                    }
                    #getin__touch {
                        width: 50% !important;
                        margin-left: 950px !important;
                        margin-top: -70px !important;
                    }
                }